<ul>
  {% for item in include.items %}
    {% if item.name %}
      <li>
        {{ item.name }}
        {% if item.sub %}
          {% include list-generation.html items=item.sub %}
        {% endif %}
      </li>
    {% elsif item.sub %}
      <li>
        {% if include.default_label %}
          <em>{{ include.default_label }}</em>
        {% endif %}
        {% include list-generation.html items=item.sub %}
      </li>
    {% else %}
      <li>{{ item }}</li>
    {% endif %}
  {% endfor %}
</ul>
