---
layout: base
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="boxart"  style="float: right;">
    {% if page.boxart %}<img style="max-width: 200px;" src="{{ page.boxart }}" alt="{{ page.title }} Box Art" />{% endif %}
  </div>

{% if page.game_stats %}
  <div class="game_stats">
    <ul>
      {% assign labels = 
        {
          "year": "Year Released",
          "players": "Players",
          "duration": "Expected Duration",
          "complexity": "Complexity",
          "age_range": "Age Range"
        } 
      %}

      {% for key in page.game_stats | keys %}
        {% assign value = page.game_stats[key] %}
        {% assign label = labels[key] | default: key %}
        {% if value %}
          <li><strong>{{ label }}:</strong> {{ value }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}


  <div class="post-content" style="clear: right;">
{% if page.overview %}
    <div class="overview">
      <h2>Overview</h2>
      <p>{{ page.overview }}</p>
    </div>
{% endif %}
{% if page.components %}
    <div class="components">
      <h2>Box Components</h2>
      <ul>
  {% for dot in page.components %}
        <li>{{ dot }}</li>
  {% endfor %}
      </ul>
    </div>
{% endif %}
    <div class="content">
      {{ content }}
    </div>
  </div>

</article>